*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: rgb(152, 64, 234);
    color: rgb(243, 243, 243);
    height: 5rem;
line-height: 5rem;
}
.choice{
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.choice:hover{
    cursor: pointer;
    background-color: black;
}
img{
    display: flex;
    height: 100px;
    width: 100px;
    object-fit:cover ;
    border-radius: 50%;
}
.choices{
    display: flex;
        justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    
}
.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#comp-score,#user-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    display: inline;
}